html
  block variables
  head 
    - var title=title || "MockThisTweet Menfess Client"
    title #{title}
    link(rel="shortcut icon", href="favicon-32x32.png")
    include script.pug
  body
    include nav.pug
    section(class="section")
      div(class="container")
        block content