script(src="https://kit.fontawesome.com/5e10b2ad0d.js" crossorigin="anonymous")
link(rel="stylesheet", href="/css/style.css")
link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css")
script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous")
link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bulma-switch@2.0.0/dist/css/bulma-switch.min.css")
script(src="/js/bulma-validator.js")