extends ./layouts/layout.pug

block content
  h1(class="title") Mockthistweet Menfess Client
  div(class="columns")
    div(class="column is-one-quarter")
      div(class="field is-grouped")
        div(class="control")
          a(class="button is-success" href="/register")
            span(class="icon")
              <i class="fas fa-paper-plane"></i>
            span| Register

        div(class="control")
          a(class="button is-link" href="/login")
            span(class="icon")
              <i class="fas fa-sign-in-alt"></i>
            span| Login